.home{
	-fx-pref-width: 1280;
	-fx-pref-height: 900;
	-fx-background-color: silver;
}
.mlabel{
	-fx-pref-height: 50;
	-fx-alignment: center;
	-fx-text-fill: rgb(254,255,255);
	-fx-font-size: 40px;
	-fx-padding: 20 0 20 0;
	-fx-background-color: rgb(19,157,236);
}
.manuBar{
	-fx-padding: 20px;
	-fx-spacing: 15px;
	-fx-alignment: center;
}